{% extends 'portfolio/base.html' %}

{% block content %}
<div class="home-container">

    <!-- Texte à gauche -->
    <div class="home-text">
        <h1>Bienvenue sur mon Portfolio</h1>

        <p>
            Bonjour ! Je suis <strong>AKOSSEBE KOLOMSO WEEZY</strong>, étudiant en 2ème année
            à l'Université de Yaoundé I.
        </p>

        <p><strong>Filière :</strong> Technologie de l’Information et de la Communication (TIC)</p>
        <p><strong>Spécialité :</strong> Sécurité Informatique</p>

        <p>
            Je développe des projets en <strong>Python</strong>, <strong>Django</strong> et
            je m’intéresse à la <strong>cybersécurité</strong> et aux technologies web.
        </p>

        <a href="/projects/" class="btn">Voir mes projets</a>
    </div>

    <!-- Photo à droite
    <div class="home-image">
        <img src="/static/portfolio/images/pp.png" alt="Ma photo">
    </div>-->

</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Portfolio</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f8;
            padding: 40px;
        }
        .card {
            background: ;
            padding: 30px;
            max-width: 600px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        h1 { color: #2c3e50; }
        p { font-size: 18px; }
    </style>
</head>
<body>

<div class="card">
    <h1>{{ message }}</h1>
    <p><strong>Nom :</strong> {{ nom }}</p>
    <p><strong>Université :</strong> {{ universite }}</p>
    <p><strong>Filière :</strong> {{ filiere }}</p>
</div>

</body>
</html> -->


