/* ===== BODY ===== */
body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* ===== NAVBAR ===== */
nav {
    background: rgba(0, 0, 0, 0.85);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2A6F92;
}

/* ===== HOME SECTION ===== */
.home-container {
    min-height: calc(100vh - 70px); /* laisse la place au nav */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

 .home-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    color: #fff;
}

 .home-text {
    max-width: 600px;
}

.home-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.home-text p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.7;
    color: #f1f1f1;
}
.home-text strong {
    color: #ffd369;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 35px;
    background: #ffd369;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: #2575fc;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}



 footer{
 background:black;
 color: white;
 text-align: center;
 }

 @media (max-width: 900px) {
    .home-container {
        flex-direction: column;
        text-align: center;
        padding: 60px 8%;
    }

    .home-text {
        max-width: 100%;
    }

    .home-image img {
        margin-top: 40px;
        width: 260px;
    }
}
