body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}
