body{
background: #2A6F92;
padding: 0px;
margin:0px;

}
nav{
background: black;
padding: 15px;
text-align: center;
}

 nav a{
 color: white;
 margin:15px;
 text-decoration: none;
 }

 nav a:hover{
 color:#2A6F92;
 }

 footer{
 background:black;
 color: white;
 text-align: center;
 }