body {
     background-image: url("/static/portfolio/images/image1.jpg");
    background-size: cover;
    padding: 0px;
    color: white;
    text-align: center;
    min-height: 0vh;

nav {
    background: #222;
    padding: 15px;
    margin-bottom: 240px;
    border-radius:50%;
}

nav a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.container {
    padding: 5px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 0px;
}
/* Container principal */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   /* texte en haut */
    padding: 0px;
    min-height: calc(50vh - 60px); /* ne touche pas au footer */
}

/* Texte à gauche */
.home-text {
    width: 60%;
}

.home-text h1 {
    font-size: 36px;
    margin-bottom: 200px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Bouton */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Image à droite */
.home-image {
    width: 35%;
    text-align: right;
}

.home-image img {
    width: 400px;
    border-radius: 0%; /* photo ronde */
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4)*/
}
